:root {
    --primaryColor: #ba2133;
    --secondaryColor: #811521;
    --baseLight: #fff;
    --baseDark: #070707;

    --colorScheme1: #8e8e93;
    --colorScheme2: #25a18e;
    --colorScheme3: #00a5cf;
    --colorScheme4: #9fffcb;
    --colorScheme5: #7ae582;
    --colorScheme6: #0b132b;
    --colorScheme7: #FFD82E;
    --colorScheme8: #490003;
    --colorScheme9: #434343;
}
